DATABASE_URL="postgresql://user:password@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"
AUTH_SECRET="your-nextauth-secret"
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_STORAGE_KEY="your-supabase-storage-key"
SUPABASE_STORAGE_BUCKET="blog_image"

NEXT_PUBLIC_SITE_NAME="Macwealth FreeStore"
CONTACT_EMAIL="info@macwealthfreestore.com"
STITCH_API_KEY=""
